.canvas-container {
  max-width: 1200px;
  margin: 13px auto;
}

.content {
  display: flex;
}

.table {
  flex: 1; 
  max-width: 50%; 
  max-height: 500px;
}

.canvas {
  flex: 1;
  max-width: 50%;
  max-height: 400px;
}

@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .table,
  .canvas {
    max-width: 100%;
  }
}
