.canvas-container {
  max-width: 1200px;
  margin: 13px auto;
}

.content {
  display: flex;
}

.table {
  flex: 1; 
  max-width: 50%; 
  max-height: 500px;
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Esto es opcional, ajusta la altura según tus necesidades */
}
.canvas {
  flex: 1;
  max-width: 50%;
  max-height: 400px;
}

@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .table,
  .canvas {
    max-width: 100%;
  }
}
