.canvas-container {
  max-width: 1200px;
  margin: 13px auto;
}

.content {
  display: flex; /* Utiliza flexbox para organizar los elementos */
}

.table {
  flex: 1; 
  max-width: 50%; 
  max-height: 500px;
}

.canvas {
  flex: 1; /* El canvas ocupará el espacio disponible */
  max-width: 50%; /* El canvas ocupará la mitad del contenedor */
  max-height: 400px;
  
}
