.mat-elevation-z8 table {
    width: 100%;
    background-color: #171717; /* Establece el color de fondo de la tabla */
  }
  
  .mat-elevation-z8 th,
  .mat-elevation-z8 td {
    color: #ffffff; /* Establece el color del texto en las celdas */
  }
  
  th.mat-sort-header-sorted {
    color: #ffffff; /* Establece el color del texto en los encabezados de columna */
  }
  
  .mat-column-select {
    overflow: initial;
  }
  .mat-elevation-z8 mat-paginator {
    background-color: #171717; /* Establece el color de fondo del paginador */
    color: #ffffff;
  }
  
  .mat-elevation-z8 mat-paginator::ng-deep .mat-paginator-range-label,
  .mat-elevation-z8 mat-paginator::ng-deep .mat-paginator-page-size,
  .mat-elevation-z8 mat-paginator::ng-deep .mat-paginator-navigation-icons {
    color: #ffffff; /* Establece el color del texto en el paginador */
  }